.mainAbout {
	padding: 6.4rem 16rem;
	display: flex;
	&:global {
		animation-name: slowAppear;
	}
	animation-duration: 1.3s;

	.title {
		font-size: 3rem;
		color: #f6f0ea;
		font-family: "Orbitron", sans-serif;
		font-weight: 100;
	}

	.profession {
		color: #e9e4df;
		font-size: 1.3rem;
		font-weight: 500;
		margin-top: 0.75rem;
	}

	p:first-of-type {
		margin-top: 1.2rem;
		font-weight: 300;
		color: #e3ddd7;
		max-width: 24rem;
	}

	.containerLi {
		margin-top: 4rem;
		list-style-position: inside;
		.link {
			margin-top: 1rem;
			color: #d4cfc9;
			font-weight: 500;
		}
	}

	.buttonDownload {
		font-weight: 600;
		padding: 11px 25px;
		margin-top: 2rem;
		border: 1px solid #5d5d5d;
		background-color: #0000003d;
		border-radius: 27px;
		cursor: pointer;
		color: #d4cfc9;
		font-family: var(--font-inter);

		&:hover,
		&:focus {
			animation: pulse 1s;
			box-shadow: 0 0 0 2em transparent;
            animation-iteration-count: infinite;

		}
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 black;
	}
}
