.header {
	background-color: rgb(0 0 0 / 15%);
	padding: 20px 9rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #f6f0ea1f;

	position: relative;
	animation-name: showingHeader;
	animation-duration: .6s;

	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		width: 1050px;

		.logo {
			width: 20rem;
		}

		.rightSide {
			.nav {
				display: flex;
				list-style: none;
				align-items: center;
			}

			.link {
				padding: 0 1em;
				text-decoration: none;
				cursor: pointer;
				color: #f6f0ea;

				&:hover {
					opacity: 0.4;
					transition: 0.3s;
				}
			}
		}

	}
}

@keyframes showingHeader {
	0% {
		top: -140px;
		opacity: 0;
	}

	20% {
		top: -112px;
		opacity: 0.1;
	}

	40% {
		top: -84px;
		opacity: .2;
	}

	60% {
		top: -46px;
	}

	80% {
		top: -18px;
		opacity: .3;
	}

	100% {
		top: 0px;
		opacity: 1;
	}
}