.main {
	background: linear-gradient(0deg, #1a1d2a, #1c1f2e), #ebeef6;
	/* background-image: radial-gradient(
		circle,
		rgb(57, 15, 15),
		rgb(49, 13, 13),
		rgb(31, 8, 8),
		rgb(0, 0, 0)
	); */
	background-image: radial-gradient(
		circle,
		#262a3d,
		#1a1f2b,
		#131520,
		rgb(0, 0, 0)
	);
	background-attachment: fixed;
	height: 100%;
	width: 100%;
}
