.CardExperience {
    background-color: rgb(255 255 255 / 4%);
    border: 1px solid #3c3c3c;
    border-radius: 15px;
    padding: 20px 25px;
    cursor: pointer;
    margin-bottom: 1.5rem;

    &:hover {
        background-color: rgb(255 255 255 / 15%);
        transition: .5s;
    }

    .containerTitle {
        font-family: var(--font-inter);
        color: #afbdcf;
        display: flex;
        justify-content: space-between;
        font-weight: 500;

        span {
            font-size: 15px;
        }

        span:nth-child(2) {
            font-size: 14px;
            font-style: italic;
        }
    }

    .ul {
        margin-top: .8rem;

        li {
            color: #94A3b8;
            list-style: inside;
            margin-bottom: 1rem;
            font-size: 14px;
            line-height: 22px;
        }

        li:last-child {
            margin-bottom: 0;
        }
    }

    .containerTechnologies {
        margin-top: 1.2rem;

        span {
            color: #babfc5;
            font-size: 12px;
            background-color: #404440c9;
            margin-right: 20px;
            padding: 8px 8px;
            border-radius: 15px;
            font-weight: 500;
        }
    }
}